<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf8"/>
        <link rel="stylesheet" type="text/css" href="public/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="public/css/skeleton.css">
        <link rel="stylesheet" type="text/css" href="public/css/mach-base.css">
    </head>
    <body>
        <header class="u-full-width header-bar"></header>
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <section class="tasklist-box columns tasklist-container">
                        <ul class="basic-list tasklist-base">
                            <!-- insert items here -->
                            <li class="basic-list-item tasklist-item">list a</li>
                            <li class="basic-list-item tasklist-item">list b</li>
                            <li class="basic-list-item tasklist-item">list c</li>
                        </ul>
                    </section>
                    <section class="task-box columns tasks-container">
                        <input class="u-full-width" type="text" /> 
                        <ul class="basic-list tasks-base">
                            <!-- insert items here -->
                            <li class="basic-list-item task-list-item">task a</li>
                            <li class="basic-list-item task-list-item">task b</li>
                            <li class="basic-list-item task-list-item">task c</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <footer></footer>
    </body>
</html>

