html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

.container {
    max-width: none;
}

.header-bar {
    height: 7.5%;
    background: #eee;
}

.content-box {
    margin-top: 1%;
}

@media (min-width: 550px) {
    .tasklist-box {
        width: 14.25%;
    }

    .task-box {
        width: 85.25%;
    }

    .column,
    .columns {
        margin-left: 0.5%;
    }
}
.basic-input {

}

.basic-list {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.basic-list-item {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 0.5rem
}

.tasklist-item { 

}

.task-list-item {
}
